services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    environment:
      TZ: "Europe/Berlin"
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
  logserver:
    build: ./server/.
    container_name: go-log-server
    volumes:
      - ./server/logs:/app/logs
    restart: unless-stopped

# NPM advanced config -> client_max_body_size 102400;
